@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bg-glass {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.7px);
  -webkit-backdrop-filter: blur(12.7px);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.glass-white-border {
  border: 1px solid white;
  min-width: 340px;
}

.fran-modal-wrapper {
  background-color: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  width: 100%;
  top: -100%;
}

.fran-modal-wrapper.open {
  z-index: 100;
  opacity: 1;
  top: 0;
}

.fran-modal {
  left: 50%;
  opacity: 0;
  padding: 20px;
  position: absolute;
  top: -100%;
  transform: translateX(-50%);
  transition: all 300ms ease-in-out;
}

.fran-modal.open {
  opacity: 1;
  top: 30%;
  transition: all 300ms ease-in-out;
}

.price-input-element {
  height: 40px;
  width: 45%;
}

.bg-glass-minimus {
  min-height: 210px;
  min-width: 340px;
}

.splash-bg {
  opacity: 1;
  transition: opacity 350ms ease-in-out;
}

.splash-bg.hide {
  opacity: 0;
  transition: opacity 350ms ease-in-out;
}

.splash {
  transition: all 350ms ease-in-out;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.splash.move {
  top: -2rem;
  left: 9rem;
  transition: all 350ms ease-in-out;
  transform: translate3d(0, 0, 0);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
